<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do Application - Login | PhuocNM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/styles.css">
    <script src="assets/login.js"></script>
</head>
<body>
    <div id="login">
        <form action="">
            <input class="login_input" type="text" name="user" placeholder="User name..." required/><br />
            <input class="login_input" type="text" name="passwork" placeholder="Passwork..." required/><br />
            <button class="login_input" type="submit">Login</button><br />
        </form>
    </div>
</body>
</html>